<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Brothech</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="login-box">
    <h1 class="title-h1">Brothech</h1>
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password"><br/>
      <input class="login-button" name="button" type="submit" value="Enviar">
    </form>
  </div>
</body>
</html>
